<div id="about-information">

	<h1 data-aos="fade-left" data-aos-duration="1000">ABOUT</h1>
	<div class="section-line" data-aos="fade-left" data-aos-duration="1500"></div>
	<div class="content">
		<div id="avatar" data-aos="flip-left" data-aos-duration="1000">
			<img src="assets/avatar.png">
		</div>
		<div class="about-content" data-aos="fade-zoom-in"
			data-aos-easing="ease-in-back" data-aos-delay="200" data-aos-duration="500">
			Soy Pablo Rivas Camino, ingeniero técnico especializado en software
			en la <span class="primary-color">Universidad de A Coruña</span>
			(pendiente de defender el trabajo de fin de grado) y técnico superior
			en desarrollo de aplicaciones multiplataforma graduado en el <span
				class="primary-color">IES San Clemente</span>, Galicia, España con
			interés y formación en el ámbito de las aplicaciones web y Android.
		</div>
	</div>

</div>
