canvas{
	position:absolute;
	width: 100%;
}

.main_container{
	height: 100%;
	position:relative;
}

.main_header {
	width: 100%;
	height: 100%;
	top:0;
	position: absolute;
    color: #ffffff;
    font-size: 5em;
    text-align: center;
	align-items: center;
	justify-content: center;
}

.main_header_content {
	height: 100%;
	width: 100%;
	margin: auto;
	display: flex;
	text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

