<div class="main_container">
				
	<initial-animation></initial-animation>
	<div class="main_header">
	
		<div class="main_header_content">
			<div>
				Soy <span class="primary-color">Pablo Rivas Camino</span> y este es mi portfolio
			</div>
			<div class="my_button">
					Ver mi ficha 
					<div class="fa-icon" style="margin-left: 0.25em">
						<fa-icon class="fa-icon" [icon]="faArrowRight"></fa-icon>
					</div>
			</div>
		</div>
		
	</div>
	
</div>

<input-user-data-form></input-user-data-form>
